.submit-btn {
    padding: 10px;
    border-radius: 10px;
    border-style: outset;
    border-width: 5px;
    cursor: pointer;
    color: whitesmoke;
    background-color: black;
    font-size: 1.1em;
    transition: all 0.4s ease;
}

.submit-btn:hover {
    border-style: inset;
    border-width: 5px;
    cursor: pointer;
    color: black;
    background-color: rgb(156, 120, 255);
    transition: all 0.4s ease;
}

.search-bar {
    padding: 15px;
    width: 500px;
    height: 10px;
    border-radius: 12px;
    border-style: solid;
    border-color: black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 1.2em;
}

.search-bar:hover::placeholder {
    color: whitesmoke;
    transition: all 0.5s ease;
}

.search-form {
    text-align: center;
    margin: auto;
    height: 95%;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    background: radial-gradient(rgb(170, 139, 255), rgba(156, 120, 255, 0));
}

.search-result {
    font-size: 1.3em;
    color: black;
}

h2 {
    color: black;
}

.welcome-banner, .subwelcome-banner {
    text-align: center;
}

.welcome-banner {
    font-size: 2.2em;
    font-weight: 800;
}

.subwelcome-banner {
    font-size: 1.5em;
    text-decoration: underline;
}

.id-banner {
    text-decoration: underline;
}