.recipe-item {
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
    margin: 10px;
}

.recipe-item:hover {
    border-width: 6px;
    background-color: rgb(219, 205, 255);
    color: black;
    transition: all 0.3s ease;
}

.delete-btn {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border-style: outset;
    border-width: 5px;
    cursor: pointer;
    color: white;
    background-color: darkred;
    font-size: 1.1em;
    transition: all 0.4s ease;
}

.delete-btn:hover {
    padding: 5px;
    border-radius: 10px;
    border-style: inset;
    border-width: 5px;
    cursor: pointer;
    color: white;
    background-color: red;
    transition: all 0.4s ease;
}

.edit-btn {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border-style: outset;
    border-width: 5px;
    cursor: pointer;
    color: black;
    background-color: whitesmoke;
    font-size: 1.1em;
    transition: all 0.4s ease;
}

.edit-btn:hover {
    padding: 5px;
    border-radius: 10px;
    border-style: inset;
    border-width: 5px;
    cursor: pointer;
    color: black;
    background-color: orange;
    transition: all 0.4s ease;
}