.details-image {
        border-radius: 18px;
        border-style: double;
        border-width: 15px;
        border-color: whitesmoke;
        height: 400px;
        width: 267px;
        transition: all 0.8s ease;
}

.details-image:hover {
    border-color: black;
    transition: all 0.6s ease;
    background-color: white;
}

.details-title-image {
    max-width: 33%;
    text-align: center;
}

.details-title {
    font-size: 1.3em;
}

.details-information {
    max-width: 300px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.8s ease;
  }

  .details-information:hover {
    border-style: solid;
    border-color: black;
    background-color: white;
    color: black;
    transition: all 0.8s ease;
  }
  
  .details-description {
    width: 65%;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    padding: 25px;
    transition: all 0.8s ease;
  }

  .details-description:hover {
    border-style: solid;
    border-color: black;
    background-color: white;
    color: black;
    transition: all 0.8s ease;
  }

  .back-btn {
    padding: 10px;
    border-radius: 10px;
    border-style: outset;
    border-width: 5px;
    cursor: pointer;
    color: whitesmoke;
    background-color: black;
    font-size: 1.1em;
    transition: all 0.4s ease;
  }

  .back-btn:hover {
    padding: 10px;
    border-radius: 10px;
    border-style: inset;
    border-width: 5px;
    cursor: pointer;
    color: black;
    background-color: goldenrod;
    transition: all 0.4s ease;
}

.details-no-description {
  display: flex;
  flex-direction: column;
}