.details {
  display: flex;
  flex-direction: row;
}

.details-image {
  border-radius: 18px;
  border-style: double;
  border-width: 15px;
  border-color: black;
  width: 300px;
  transition: all 0.8s ease;
}

.details-image:hover {
  transition: all 0.6s ease;
  background-color: rgb(219, 205, 255);
}

.details-title {
    font-size: 18pt;
    width: 252px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

.details-information {
    width: 300px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.8s ease;
  }

  .details-information:hover {
    background-color: rgb(219, 205, 255);
    transition: all 0.8s ease;
  }
  
  .details-description {
    flex: 1;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 25px;
    transition: all 0.8s ease;
    font-size: 1.4em;
    margin-left: 25px;
    margin-top: 77px;
  }

  .details-description:hover {
    background-color: rgb(219, 205, 255);
    transition: all 0.8s ease;
  }

  .back-btn {
    padding: 10px;
    border-radius: 10px;
    border-style: outset;
    border-width: 5px;
    cursor: pointer;
    color: whitesmoke;
    background-color: black;
    font-size: 1.1em;
    transition: all 0.4s ease;
    
  }

  .back-btn:hover {
    border-style: inset;
    border-width: 5px;
    cursor: pointer;
    color: black;
    background-color: rgb(156, 120, 255);
    transition: all 0.4s ease;
}