.label {
    color: black;
}

.text {
    color: black;
    padding-top: 20px;
    margin-bottom: 25px;
}

input {
    padding: 10px;
    border-radius: 10px;
}

.favorite-btn {
    padding: 10px;
    border-radius: 10px;
    border-style: outset;
    border-width: 5px;
    cursor: pointer;
    color: whitesmoke;
    background-color: black;
    font-size: 1.1em;
    transition: all 0.4s ease;
  }

  .favorite-btn:hover {
    padding: 10px;
    border-radius: 10px;
    border-style: inset;
    border-width: 5px;
    cursor: pointer;
    color: black;
    background-color: goldenrod;
    transition: all 0.4s ease;
}

.toggle-btn {
    font-size: 1.5em;
    width: 40px;
    border-radius: 10px;
    border-style: outset;
    border-width: 5px;
    cursor: pointer;
    color: whitesmoke;
    background-color: darkred;
    transition: all 0.4s ease;
  }

  .toggle-btn:hover {
    border-radius: 10px;
    border-style: inset;
    cursor: pointer;
    color: whitesmoke;
    background-color: red;
    transition: all 0.4s ease;
}

.view-btn {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border-style: outset;
    border-width: 5px;
    cursor: pointer;
    color: whitesmoke;
    background-color: black;
    font-size: 1.1em;
    transition: all 0.4s ease;
}

.view-btn:hover {
    padding: 5px;
    border-radius: 10px;
    border-style: inset;
    border-width: 5px;
    cursor: pointer;
    color: black;
    background-color: rgb(156, 120, 255);
    transition: all 0.4s ease;
}

.modal-background {
    background-color: whitesmoke;
    padding: 15px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    height: 95%;

}
