form {
    margin: auto;
    height: 95%;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    background: radial-gradient(rgb(156, 120, 255), rgba(156, 120, 255, 0));
}

input {
    padding: 10px;
    border-radius: 10px;
}

.add-btn {
    padding: 10px;
    border-radius: 10px;
    border-style: outset;
    border-width: 5px;
    cursor: pointer;
    color: black;
    background-color: goldenrod;
    font-size: 1.1em;
    transition: all 0.4s ease;
  }

  .add-btn:hover {
    padding: 10px;
    border-radius: 10px;
    border-style: inset;
    border-width: 5px;
    cursor: pointer;
    color: black;
    background-color: rgb(255, 205, 79);
    transition: all 0.4s ease;
}

label {
    color: whitesmoke;
}

.title-input {
    width: 35%;
    text-align: center;
}

.author-input {
    width: 25%;
    text-align: center;
}

.backstory-input {
    width: 95%;
    height: 12%;
}

.ingredients-input {
    width: 95%;
    height: 15%;
}

.instructions-input {
    width: 95%;
    height: 15%;
}

.toggle-btn {
    font-size: 1.5em;
    width: 40px;
    border-radius: 10px;
    border-style: outset;
    border-width: 5px;
    cursor: pointer;
    color: whitesmoke;
    background-color: darkred;
    transition: all 0.4s ease;
  }

  .toggle-btn:hover {
    border-radius: 10px;
    border-style: inset;
    cursor: pointer;
    color: whitesmoke;
    background-color: red;
    transition: all 0.4s ease;
}