.about-description {
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.8s ease;
    margin: auto;
    text-align: center;
    width: 65%;
}

.about-description:hover {
    border-style: solid;
    border-color: black;
    background-color: white;
    color: black;
    transition: all 0.8s ease;
}